@use "styles";

.container-template-edit-layout {
  @include styles.main-component-style;
}

.default-template-card-row {
  display: flex;
  flex-direction: row;
  padding: 0 var(--global-padding);
  border-radius: var(--border-radius);

  mat-form-field {
    --mat-form-field-filled-container-color: transparent;
    flex: 1;
  }

  mat-card-content {
    padding: 0 !important;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  mat-checkbox {
    white-space: nowrap;
  }
}

.edit-content {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  padding: var(--global-padding);
}

.added-tokens-list {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);
  padding: var(--half-global-padding);
}
