@use "inputs";

.action-priority-container {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);
  min-width: 0;
  .priority-header {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0;
  }
  .priority-input {
    @include inputs.action-tab-input;

    &:focus-visible {
      outline: inputs.$focus-outline;
      outline-offset: 2px;
    }
  }

  &:focus-within {
    outline: inputs.$focus-outline;
    outline-offset: 2px;
  }
}
