@use "styles";
@use "table";
@use "dialog";

.user-new-resolver-layout {
  display: flex;
  justify-content: center;
}

.user-new-resolver-container {
  @include dialog.dialog-container-styles;
  @include table.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  display: grid;
  position: relative;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  width: unset;
}
